<div class="grid-container">
  <form class="grid-item flex-container-col form-container" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-input">
      <label for="amount">Amount:</label>
      <input
        formControlName="amount"
        id="amount"
        type="number">
      <div class="field-error" *ngIf="amount.touched && amount.invalid">
        <span>This field is required</span>
      </div>
    </div>
    <div class="form-input">
      <label for="payerId">Who pays?:</label>
      <select formControlName="payerId" id="payerId">
        <option></option>
        <option *ngFor="let p of people" [value]="p.id">{{p.firstName + ' ' + p.lastName}}</option>
      </select>
      <div class="field-error" *ngIf="payerId.touched && payerId.invalid">
        <span>This field is required</span>
      </div>
    </div>
    <div class="form-input">
      <label for="description">Description:</label>
      <input
        formControlName="description"
        id="description"
        type="text">
      <div class="field-error" *ngIf="description.touched && description.invalid">
        <span>This field is not valid</span>
      </div>
    </div>
    <button class="submit-button" type="submit" [disabled]="form.invalid">Add Expense</button>
  </form>
</div>
