<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div>
    <label for="firstname">First Name:</label>
    <input
      formControlName="firstname"
      id="firstname"
      type="text">
    <div class="form-error" *ngIf="firstName.touched && firstName.invalid">
      <span>This field is required</span>
    </div>
  </div>
  <div>
    <label for="lastname">Last Name:</label>
    <input
      formControlName="lastname"
      id="lastname"
      type="text">
  </div>
  <button type="submit">Add</button>
</form>
