<div class="grid-container">
  <form class="grid-item flex-container-col form-container" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-input">
      <label for="firstname">First Name:</label>
      <input
        formControlName="firstname"
        id="firstname"
        type="text">
      <div class="field-error" *ngIf="firstname.touched && firstname.invalid">
        <span>This field is required</span>
      </div>
    </div>
    <div class="form-input">
      <label for="lastname">Last Name:</label>
      <input
        formControlName="lastname"
        id="lastname"
        type="text">
      <div class="field-error" *ngIf="lastname.touched && lastname.invalid">
        <span>This field is not valid</span>
      </div>
    </div>
    <button class="submit-button" type="submit" [disabled]="form.invalid">Add Friend</button>
  </form>
</div>
